.loader {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  z-index: 2;
}


.loader__wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  position: fixed;
  inset: 0;
  overflow: hidden;
}


.loader__words {
  position: relative;
  overflow: hidden;
  height: 20rem;
}


.loader__overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to bottom,
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85) 47%,
      transparent,
      transparent 47%,
      transparent,
      transparent 55%,
      rgba(255, 255, 255, 0.85) 50%,
      rgba(255, 255, 255, 0.85));
}

.loader__word {
  display: block;
  font-size: 1.2rem;
}

.loader__progressWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 12vh;
  width: 100%;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.loader__progressNumber {
  color: '#222';
  font-size: 6rem;
}

@media screen and (max-width: 375px) {
  .loader__progressNumber {
    font-size: 4rem;
  }
}